<div class="service"
  data-service-name="<%= @service.name %>"
  data-service-latitude="<%= @service.latitude %>"
  data-service-longitude="<%= @service.longitude %>">
  <h1><%= @service.category %>: <%= @service.name %></h1>

  <% unless @service.description.blank? %>
    <div class="panel panel-default">
      <div class="panel-heading">Descripción</div>
      <div class="panel-body">
        <p><%= @service.description %></p>
      </div>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">Dirección</div>
    <div class="panel-body">
      <p><%= @service.address %></p>
    </div>
  </div>

  <% unless @service.latitude.blank? || @service.longitude.blank? %>
    <div class="panel panel-default">
      <div class="panel-heading">¿Cómo llegar?</div>
      <div class="panel-body">
        <div id="map-canvas"></div>
      </div>
    </div>
  <% end %>
</div>
