<h1>Mis Mascotas</h1>

<div class="divisor"></div>

<div class="row pets-grid">
  <% @pets.each do |pet| %>
    <div class="col-xs-6 col-sm-6 col-md-6 polaroid">
      <p><%= link_to (image_tag pet.photo.to_s), pet %></p>
      <p class = "polaroid-pet-name"><%= pet.name %></p>
      <p class = "polaroid-pet-options">
        <%= link_to raw('<i class="icon-edit"></i>'), edit_pet_path(pet) %>
        <%= link_to raw('<i class="icon-trash"></i>'), pet, method: :delete, data: { confirm: 'Estás seguro?' } %>
       </p>
    </div>
    <% end %>
</div>

<div class="add-button">
  <%= link_to (image_tag("plus-72px.png", :alt => "Mi mascota")), new_pet_path %>
</div>
