<% @pets.each do |pet| %>
  <div>
    <%= image_tag pet.photo.to_s, style: "max-width: 150px" %></br>
    <%= link_to 'Ver', pet %>
    <%= link_to 'Editar', edit_pet_path(pet) %>
    <%= link_to 'Eliminar', pet, method: :delete, data: { confirm: 'Estás seguro?' } %>
  </div>
<% end %>

<%= link_to 'Nueva mascota', new_pet_path %>
