<h2>VER MASCOTA</h2>
<div class='divisor'></div>
<div class="media">
  <div class="pull-left">
     <%= image_tag @pet.photo.to_s, style: "max-width: 150px", class: 'frame-img' %>
  </div>
  <div class="media-body">
    <h3 class="media-heading"><%= @pet.name %></h3>
    <p>Raza: <%= @pet.race %></p>
    <p>Peso: <%= @pet.weight %></p>
    <p>Fecha de Nacimiento: <%= @pet.birth %></p>

    <%= link_to pet_path(@pet, format: :png), target: "_blank" do %>
      <%= image_tag("qr.png") %>
      <span class="qr-link-caption">Generar código QR</span>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">H&aacute;bitos</div>
  <div class="panel-body">
    <p><%= @pet.habits %></p>
  </div>
</div>

<div class="add-button">
  <%= link_to (image_tag("edit-72px.png", :alt => "Editar")), edit_pet_path(@pet) %>
</div>
