<h3>MASCOTAS EXTRAVIADAS </h3>
<div class='divisor'></div>
<div class="media">
  <div class="pull-left">
     <%= image_tag @pet.photo.to_s, style: "max-width: 150px", class: 'frame-img' %>
  </div>
  <div class="media-body">
    <h3 class="media-heading"><%= @pet.name %></h3>
    <p>Raza: <%= @pet.race %></p>
    <p>Peso: <%= @pet.weight %></p>
    <p>Cumpleaños: <%= @pet.birth %></p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">H&aacute;bitos</div>
  <div class="panel-body">
    <p><%= @pet.habits %></p>
  </div>
</div>

<%= link_to 'Eliminar', @pet, method: :delete, data: { confirm: 'Estás seguro?' } %>
<%= link_to 'Editar', edit_pet_path(@pet) %> |
<%= link_to 'Volver', pets_path %>
