<%= form_for [@pet, @post], html: {multipart: true} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if (@pet.blank?)%>
    <div class="field">
      <%= f.label :photo %>
      <%= f.file_field :photo %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
  <% else %>
    <%= image_tag @pet.photo.to_s, style: "max-width: 150px" %>
    <p>
      <strong>Name:</strong>
      <%= @pet.name %>
    </p>
  <% end %>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :kind %><br>
    <%= select_tag "post[kind]", options_for_select([ Post::LOST, Post::FOUND, Post::ADOPTION, Post::MATE ])%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
