<h2>VER ANUNCIO</h2>
<div class='divisor'></div>

<div class="media">
  <div class="pull-left">
    <%= image_tag @post.photo, style: "max-width: 150px",  class: 'frame-img' %>
  </div>
  <div class="media-body">
    <h3 class="media-heading"><%=@post.name%></h3>
    <p>Dirección: <%= @post.address %></p>
    <p>Tipo: <%= @post.kind %></p>
    <p>Mascota: <%= @post.pet.name %></p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Descripcion</div>
  <div class="panel-body">
    <p><%= @post.description %></p>
  </div>
</div>

<div class="add-button">
  <%= link_to (image_tag("edit-72px.png", :alt => "Editar")), edit_post_path(@post) %>
</div>