<p id="notice"><%= notice %></p>

<%= image_tag @post.photo, style: "max-width: 150px" %>

<p>
  <strong>Descripción:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @post.address %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @post.kind %>
</p>

<p>
  <strong>Mascota:</strong>
  <%= @post.pet %>
</p>

<%= link_to 'Editar', edit_post_path(@post) %> |
